#include <stdlib.h>
#include <iostream>

<int Main> (int argc, char** argv)

    floar nota1
    floar nota2
    float media

    printf ("Insira nota 1: \n");
    scanf ("%f" nota1);

    printf("Insira nota2");
    scanf ("%f" , &nota2);

    media= ( nota1 + nota2 ) /2;

    printf (" media = %f, media");
    returno 0;






</int Main>






    </iostream>
</stdlib.h>